In [ ]:
%config Completer.use_jedi = False
%load_ext autoreload
%autoreload 2

# Convert excel codebook to parquet version used for processing

We have an automated script that create the codebooks and save the info as excel file.  
Before running the processing of the experiment the codebook is parsed to reduce the amount of data.  
This is important because the codebooks will be scattered on all the processing workers.

In [9]:
from pysmFISH.barcodes_analysis import simplify_barcodes_reference
import pandas as pd

In [23]:
# Raw codebook excel file location
raw_codebook_fpath = 'data/Example_codebook.xlsx'

## Excel codebook structure

Visualize the organization of the codebook file

In [24]:
codebook_excel = pd.read_excel(raw_codebook_fpath)

In [22]:
codebook_excel

,Index,Barcode,1,2,3,Tail1,Tail2,Tail3,Tail4,Tail5,Tail6,Gene
0,0,[1000000000011111],1,CORE,5Cy3,TACACCATCTACTACTCTAA,TACACTACTCCTACATCCTT,CTTAACCTCACAACATTAAC,ATCCTACTCATTCTACACTT,ACCTCCTAACCACATATCCT,TATCTAACCAACTATCCATA,NOTCH1
1,1,[0100000010011011],2,CORE,5Cy3,CATATTACCTTCACTACCAA,ATCACCACTCATATATACTC,TACACTACTCCTACATCCTT,CTTAACCTCACAACATTAAC,ACCTCCTAACCACATATCCT,TATCTAACCAACTATCCATA,CXCL12
2,2,[0100000001011101],3,CORE,5Cy3,CATATTACCTTCACTACCAA,ACAACTACTCTCTACCAATT,TACACTACTCCTACATCCTT,CTTAACCTCACAACATTAAC,ATCCTACTCATTCTACACTT,TATCTAACCAACTATCCATA,NR1H3
3,3,[0100000000110111],4,CORE,5Cy3,CATATTACCTTCACTACCAA,TAATCTACCTCACTAACATT,TACACTACTCCTACATCCTT,ATCCTACTCATTCTACACTT,ACCTCCTAACCACATATCCT,TATCTAACCAACTATCCATA,IL22RA1
4,4,[0010001000011101],5,CORE,5Cy3,AATACTACATTACACACCTA,TCAACCTACCATACTCCTAA,TACACTACTCCTACATCCTT,CTTAACCTCACAACATTAAC,ATCCTACTCATTCTACACTT,TATCTAACCAACTATCCATA,NANOG
...,...,...,...,...,...,...,...,...,...,...,...,...
443,443,[0011001101100000],444,EXTENDED,5Cy3,AATACTACATTACACACCTA,CTCCTTACTATAACAATAAT,TCAACCTACCATACTCCTAA,AACACTATTAATCAACATCC,ACAACTACTCTCTACCAATT,TAATCTACCTCACTAACATT,ODC1
444,444,[0010111011000000],445,EXTENDED,5Cy3,AATACTACATTACACACCTA,ATACCTATCCTTATATCCTA,CACTTACTCTAACACAACCA,TCAACCTACCATACTCCTAA,ATCACCACTCATATATACTC,ACAACTACTCTCTACCAATT,CCR4
445,445,[0010101110100000],446,EXTENDED,5Cy3,AATACTACATTACACACCTA,ATACCTATCCTTATATCCTA,TCAACCTACCATACTCCTAA,AACACTATTAATCAACATCC,ATCACCACTCATATATACTC,TAATCTACCTCACTAACATT,TCF7
446,446,[0001111001100000],447,EXTENDED,5Cy3,CTCCTTACTATAACAATAAT,ATACCTATCCTTATATCCTA,CACTTACTCTAACACAACCA,TCAACCTACCATACTCCTAA,ACAACTACTCTCTACCAATT,TAATCTACCTCACTAACATT,CFB
447,447,[0001110110100000],448,EXTENDED,5Cy3,CTCCTTACTATAACAATAAT,ATACCTATCCTTATATCCTA,CACTTACTCTAACACAACCA,AACACTATTAATCAACATCC,ATCACCACTCATATATACTC,TAATCTACCTCACTAACATT,NaN

## Run codebook conversion

After conversion the barcode is stored in the same folder of the excel file as parquet file.  
For convenience is suggested to store the excel file in the **config_db** folder (see documentation for folder organization)

In [25]:
code = simplify_barcodes_reference(raw_codebook_fpath)

In [26]:
code.convert_barcode()

In [27]:
code.codebook_df

                                                  Code     Gene
0    b'\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00...   NOTCH1
1    b'\x00\x01\x00\x00\x00\x00\x00\x00\x01\x00\x00...   CXCL12
2    b'\x00\x01\x00\x00\x00\x00\x00\x00\x00\x01\x00...    NR1H3
3    b'\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x01...  IL22RA1
4    b'\x00\x00\x01\x00\x00\x00\x01\x00\x00\x00\x00...    NANOG
..                                                 ...      ...
443  b'\x00\x00\x01\x01\x00\x00\x01\x01\x00\x01\x01...     ODC1
444  b'\x00\x00\x01\x00\x01\x01\x01\x00\x01\x01\x00...     CCR4
445  b'\x00\x00\x01\x00\x01\x00\x01\x01\x01\x00\x01...     TCF7
446  b'\x00\x00\x00\x01\x01\x01\x01\x00\x00\x01\x01...      CFB
447  b'\x00\x00\x00\x01\x01\x01\x00\x01\x01\x00\x01...      NaN

[448 rows x 2 columns]